<?php

return array(
   'components'=>array(
        'db'=>array(
            'connectionString' => "mysql:dbname=giasu;host=localhost",
            // 'emulatePrepare' => true,
            'username' => 'giasu',
            'password' => 'secret',
            'charset' => 'utf8',
            // turn on schema caching to improve performance
            // 'schemaCachingDuration'=>3600,
        ),
    ),

    'params'=>array(
       'home_url' => 'localhost', // Where top level link goes to

        // Used in the contact page
        'adminEmail'=>'support@vagrant.local',

        // This is used as the sender of emails
        'app_email_name' => 'giasu',
        'app_email' => 'support@vagrant.local',
        'email_prefix' => '[giasu]',

        'support_email' => 'support@vagrant.local',
        'email_prefix' => '', // put at the begining of the subject line
        'contact_email' => 'support@vagrant.local', // this is used in the contact page

        // Notified when a new user signs up
        'notify_email' => 'support@vagrant.local',

        // Cogini
        'recaptcha_publickey' => '6LdkzgsAAAAAAGFJ5GdJyXf4JvFqKJe5N0-F3IRt',
        'recaptcha_privatekey' => '6LdkzgsAAAAAAD6w-JyWXLfN1260aeRNl33I-JH9',
        "google_analytics_profile" => "UA-7881029-2",
    ),
);
